.input-container{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}
.shortInput{
    width: 100px;
    height: 25px;
    border-radius: 25px;
    padding: 0 10px 0 20px;
    font-size: 14px;
}

.nameInput{
    width: 200px;
    height: 25px;
    border-radius: 25px;
    padding: 0 10px 0 20px;
    font-size: 14px;
}

.default-format {
    width: 300px;
    height: 25px;
    border-radius: 25px;
    padding: 0 10px 0 20px;
    font-size: 14px;
}

.error-format{
    width: 300px;
    height: 25px;
    border-radius: 25px;
    padding: 0 10px 0 20px;
    font-size: 14px;
    background-color: rgb(248, 164, 164);
    border-color: red;
    color: red;
}

.error-format::placeholder{
    color: red;
}